@model List<MCollection>

<div style="margin-top:50px; display:flex; gap: 4px">
    <select name="dog-names" id="sort">
    <option value="name">Name</option>
    <option value="owner">Owner</option>
    <option value="theme">Theme</option>
    </select>
    <button id="btasc" onclick="ascend()">Ascend</button>
    <button id="btdesc" onclick="descend()">Descend</button>
</div>

<table class="table table-bordered table-strped" style="width:100%; margin-top: 10px">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Theme
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Size
                </th>
            </tr>
        </thead>
        <tbody>
            <partial name="_AllCollectionsList" />
        </tbody>
</table>

<div class="input-group flex-nowrap" style="width: 500px; margin-top: 20px; margin-left: 350px">
    <span class="input-group-text" id="addon-wrapping">Filepath</span>
    <input id = "path" type="text" class="form-control" aria-describedby="addon-wrapping" style="width: 100px">
    <button onclick = "exxport()" type="submit" class="btn btn-primary">Export to CSV</button>
</div>
<script>
    if (localStorage.getItem('lang') === "ru"){
    }

    function ascend(){
         var sel = document.getElementById("sort")
         $.ajax({
            url: '@Url.Action("AscendCol","Home")',
            data: {value: sel.value},
            success: function (result) {
                $('tbody').html(result)
            },
            error: function (xhr, exception) {
                return false;
            }
            });
    }

    function descend(){
        var sel = document.getElementById("sort")
        $.ajax({
            url: '@Url.Action("DescendCol","Home")',
            data: {value: sel.value},
            success: function (result) {
                $('tbody').html(result)
            },
            error: function (xhr, exception) {
                return false;
            }
            });
    }
    
    function exxport(){
        var path = document.getElementById("path");
        htmlToCSV(path.value)
        path.value = ""
    }
    function htmlToCSV(filename) {
	    var data = [];
	    var rows = document.querySelectorAll("table tr");
			
	    for (var i = 0; i < rows.length; i++) {
		    var row = [], cols = rows[i].querySelectorAll("td, th");
				
		    for (var j = 0; j < cols.length; j++) {
		            row.push(cols[j].innerText);
            }
		        
		    data.push(row.join(",")); 		
	    }

	    downloadCSVFile(data.join("\n"), filename);
    }

    function downloadCSVFile(csv, filename) {
	    var csv_file, download_link;

	    csv_file = new Blob([csv], {type: "text/csv"});

        download_link = document.createElement("a");

	    download_link.download = filename;

	    download_link.href = window.URL.createObjectURL(csv_file);

	    download_link.style.display = "none";

	    download_link.click();
    }
</script>

