
@model List<Item>

<table class="table table-bordered table-strped" style="width:100%; margin-top: 10px">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Tags
                </th>
            </tr>
        </thead>
        <tbody>
            <partial name="_ItemsList2" />
        </tbody>
</table>